doctype html
html
    head
        title= title
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/css/style.css')
        body
            div#menu
                div.menu-wrap.c-content
                    div.menu-cat Home
                    div.menu-cat Test
                    div.menu-cat Test2
            block content