html, body {
    padding: 0;
    margin: 0;
    font: 16px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {  
    color: #00B7FF;
}

.center {
    text-align: center;
}

.c-content {
    width: 1000px;
    margin: 0 auto;
}

.block {
    padding: 120px 80px;
}

.pink {
    background-color: #F14C94;
}

.blue {
    background-color: #4b67c0;
}

/* Menu */
#menu {
    background-color: #1D1D1D;
    color: #fff;
}

.menu-cat {
    display: inline-block;
    padding: 20px;
    font-weight: 400;
}
.menu-cat:hover {
    cursor: pointer;
    color: #F14C94;
}